@use '../utils/variables' as *;
@use '../utils/mixins' as *;

button {
  border: none;
  background: none;
}

.btn {
  background: $primary;
  color: white;
  cursor: pointer;
  &.btn--desktop {
    display: none;
    @include responsive(md) {
      display: block;
    }
  }

  &.btn--mobile {
    position: fixed;
    z-index: 1;
    bottom: 1.875rem;
    left: 50%;
    padding: 0.4rem 1.25rem;
    font-size: 1.125rem;
    transform: translateX(-50%);
    @include responsive(md) {
      display: none;
    }
  }
}

.btn.btn--tag {
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  border: 0.5px solid $clr-border;
  background: white;
  border-radius: 11px;
  color: $primary;
  font-size: 0.75rem;
  font-weight: 500;
  &:hover,
  &[aria-selected="true"] {
    border-color: $primary;
    background: $primary;
    color: white;
  }
}

.btn.btn--cta {
  padding: 1.25rem 0.625rem;
  border-radius: 0.313rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}

.btn.btn--dropdown {
  display: flex;
  width: 170px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.313rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: left;
}

.btn.btn--like {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.btn.btn--form {
  &.btn--submit {
    min-width: 170px;
    align-self: center;
    padding: 0.5rem 0;
    margin: auto 0;
    color: white;
    font-size: 1.125rem;
    @include responsive(sm) {
      align-self: start;
      padding: 1.5rem 0;
    }
  }
  &.btn--close {
    position: absolute;
    top: 2.3rem;
    right: 0;
    margin-right: clamp(1.25rem, 4vw, 2.188rem);
    background: none;
    cursor: pointer;
    img {
      width: clamp(18.67px, 4vw, 42px);
    }
  }
}

.btn.btn--scrollToTop {
  position: fixed;
  padding: 0.5rem 0.65rem;
  margin-top: 1rem;
  background: $tertiary;
  border-radius: 0.313rem;
  color: black;
  font-weight: 700;
  opacity: 0;
  transform: translateY(-100%);
  transition: ease-in-out 0.5s;
}

.btn.btn--scrollToTop.visible {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
