@use '../utils/variables' as *;
@use '../utils/mixins' as *;

html {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

// On hérite box-sizing: border-box; depuis notre sélecteur <html>
// Apparemment mieux que d'appliquer box-sizing: border-box; directement au sélecteur *

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

// On fait en sorte qu'aucune transitions ne se produisent lors du chargement de la page

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  &:focus {
    box-shadow: inset 0 0 0 1px $clr-input;
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.scrollToTop-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  // background: rgba(225, 50, 25, 0.5);
  pointer-events: none;
}
